<body id="top_page">
  <div class="row text-left mt-4">
    <p class="col-11 offset-1 intro-title">COOKIE</p>
    <p class=" col-11 offset-1 intro-subtitle">行きつけの飲食店を共有しよう。さがそう。</p>
    <p class="col-11 offset-1 intro-detail">
    『行きつけの飲食店』を共有して<br>
    他のユーザーがお店を訪れるきっかけを作り<br>
    お店の存続を応援しよう!<br>
    「常連客/リピーター」が『いつもオーダーする一品』から<br>
    いち早く美味しいお店をさがそう!</p>
    <p class="col-8 offset-4 top_link"><%= link_to 'COOKIEをはじめよう!', new_user_path %></p>
  </div>
</body>
