<div class="post_form_title">
  <h4 class="text-center text-muted pt-3"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i><%= t('view.create_post') %></h4>
  <h2 class="text-center font-weight-bold pb-5"><%= t('view.create_recommend') %></h2>
</div>

<%= render 'form' %>

<div class="row d-flex justify-content-center my-2">
  <p><%= link_to t('view.back'), posts_path, class: 'btn btn-outline-dark btn-white' %></p>
</div>
